doctype html
html
    head
        title="whaTTodo"
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/tasks.css")
        link(rel="stylesheet", href="/stylesheets/menu.css")
        link(rel="stylesheet", href="/stylesheets/addtask.css")
        link(rel="stylesheet", href="/javascripts/chosen.css")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" )
        link(rel='stylesheet' href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
        //link(rel="stylesheet", href="/javascripts/datetimepicker-master/jquery.datetimepicker.css")
        //script(src='/javascripts/datetimepicker-master/jquery.js')
        //script(src='/javascripts/datetimepicker-master/jquery.datetimepicker.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        //script(src='/javscripts/chosen.jquery.js')
        //script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
        script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    body
        include menu
        block content